@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
}


.dark{
  padding: 14px;
  border-radius: 30px;
  background: #1c1c1c;
  color: rgb(182, 182, 182);
}
.container {
  width: 350px;
  margin: 20px auto;
}

h1 {
  margin: 0;
  letter-spacing: 1px;
}

h3 {
  margin: 30px 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  display: flex;
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  justify-content: space-between;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  margin: 5px 0;
  font-size: 20px;
  letter-spacing: 1px;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  margin: 10px 0;
  display: inline-block;
}

input[type='text'],
input[type='number'] {
  width: 100%;
  padding: 10px;
  display: block;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #dedede;
}

.btn {
  border: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  display: block;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0 30px;
  background-color: #c12f4a;
  box-shadow: var(--box-shadow);
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
}

.list li {
  color: #333;
  display: flex;
  padding: 10px;
  margin: 10px 0;
  position: relative;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  justify-content: space-between;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  top: 50%;
  left: 0;
  border: 0;
  opacity: 0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 2px 5px;
  line-height: 20px;
  position: absolute;
  background-color: #e74c3c;
  transition: opacity 0.3s ease;
  transform: translate(-100%, -50%);
}

.list li:hover .delete-btn {
  opacity: 1;
}